<%= render 'user'%>

<h1>Book detail</h1>
<div>
  <p><%= image_tag @books.user.get_profile_image(100,100) %></p>
  <p><%= link_to @books.user.name, "/users/#{user.id}" %></p>
  <p><%= link_to @books.title, new_user_path %></p>
  <p><%= @books.body %></p>
  
  <% if @books.user == current_user %>
    <%= link_to "Edit", edit_book_path %>
    <%= link_to "Destroy", book_path(@books.id), method: :delete, "data-confirm" => "本当に消しますか？" %>
  <% end %>
</div>